{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}<!--for protection-->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"><b>Save New Song Pair</b></legend>
                <p>Enter the transition that you want to save below.</p>
                <div class="form-group">
                    {{ form.guestname.label(class="form-control-label") }}
                    {% if form.guestname.errors %}
                        {{ form.guestname(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.guestname.errors %}
                                <span>{{ error }}</span>
                            {% endfor%}
                        </div>
                    {% else %}
                        {{ form.guestname(class="form-control form-control-lg") }}
                    {% endif%}
                </div>
                <h4>Song A</h4>
                <div class="form-group">
                    {{ form.firstname.label(class="form-control-label") }}
                    {% if form.firstname.errors %}
                        {{ form.firstname(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.firstname.errors %}
                                <span>{{ error }}</span>
                            {% endfor%}
                        </div>
                    {% else %}
                        {{ form.firstname(class="form-control form-control-lg") }}
                    {% endif%}
                </div>
                <div class="form-group">
                    {{ form.firstartist.label(class="form-control-label") }}
                    {% if form.firstartist.errors %}
                        {{ form.firstartist(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.firstartist.errors %}
                                <span>{{ error }}</span>
                            {% endfor%}
                        </div>
                    {% else %}
                        {{ form.firstartist(class="form-control form-control-lg") }}
                    {% endif%}
                </div>
                <br>
                <h4>Song B</h4>
                <div class="form-group">
                    {{ form.secondname.label(class="form-control-label") }}
                    {% if form.secondname.errors %}
                        {{ form.secondname(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.secondname.errors %}
                                <span>{{ error }}</span>
                            {% endfor%}
                        </div>
                    {% else %}
                        {{ form.secondname(class="form-control form-control-lg") }}
                    {% endif%}
                </div>
                <div class="form-group">
                    {{ form.secondartist.label(class="form-control-label") }}
                    {% if form.secondartist.errors %}
                        {{ form.secondartist(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.secondartist.errors %}
                                <span>{{ error }}</span>
                            {% endfor%}
                        </div>
                    {% else %}
                        {{ form.secondartist(class="form-control form-control-lg") }}
                    {% endif%}
                </div>
                <br>
                <div class="form-group">
                    {{ form.comment.label(class="form-control-label") }}
                    {% if form.comment.errors %}
                        {{ form.comment(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.comment.errors %}
                                <span>{{ error }}</span>
                            {% endfor%}
                        </div>
                    {% else %}
                        {{ form.comment(class="form-control form-control-lg") }}
                    {% endif%}
                </div>
            </fieldset>
            <div>
              {{ form.recaptcha }}
            </div>
            <div class="form-group">
            </br>
                {{ form.submit(class="btn btn-outline-info") }}

            </div>

            <small class="text-muted">If your transition is between two different genres, fill out below!</small>
            <hr>
            <div class="form-group">
                {{ form.firstgenre.label(class="form-control-label") }}
                {% if form.firstgenre.errors %}
                    {{ form.firstgenre(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.firstgenre.errors %}
                            <span>{{ error }}</span>
                        {% endfor%}
                    </div>
                {% else %}
                    {{ form.firstgenre(class="form-control form-control-lg") }}
                {% endif%}
            </div>
            <div class="form-group">
                {{ form.secondgenre.label(class="form-control-label") }}
                {% if form.secondgenre.errors %}
                    {{ form.secondgenre(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.secondgenre.errors %}
                            <span>{{ error }}</span>
                        {% endfor%}
                    </div>
                {% else %}
                    {{ form.secondgenre(class="form-control form-control-lg") }}
                {% endif%}
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <!--<small class="text-muted">
          Need an account? <a class="ml-2" href="{{ url_for('register') }}">Sign up now.</a>
        </small>-->
    </div>
{% endblock content %}
