{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
  <h2>RECAPTCHA in Development</h2>
  <p>This site has been heavily spammed by bots. I'm currently implementing a ReCaptcha. Please bear with me...</p>
{% for pair in pairs %}
<article class="media content-section">
<div class="media-body">
  <div class="article-metadata">
    <a class="mr-2" href="/searchguest/{{ pair.guestname }}">{{ pair.user_id.username }}{{ pair.guestname }}</a>
    <!--<small class="text-muted">{{ pair.user_id.username }}{{ pair.guestname }}</small>-->
    <small class="text-muted">{{ pair.date_posted.strftime("%b %d %Y %H:%M") }}</small>
  </div>
  <h3>{{ pair.firstname }} <i>by</i> {{ pair.firstartist }}</h3>
  {% if pair.secondname %}
  <h3>{{ pair.secondname }} <i>by</i> {{ pair.secondartist }}</h3>
  {% endif%}
  <p class="article-content">{{ pair.comment }}</p>
</div>
</article>
{% endfor %}

{% endblock content %}
